/******************************************************************

Stylesheet: 1280px以上のモニタで適用

******************************************************************/

.skills {
    &__item {
        flex-basis: 23%;
    }
}

.feature {
    &__inner {
        padding: 50px 150px;
    }
}

.works {
    &__inner {
      padding: 50px 150px;
    }
  }

.side {
    display: block;
}